body{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    background: #f5d9c7;
}

.flexible{
    display: flex;
}
.first{
    background: #f5d9c7;
}

.first-half{
    margin-left: 20px;
    padding: 40px;
    width: 50%;
    text-align: justify;
}
.first-half h2{
    font-size: 40px;
    font-weight: 700;

}
.first-half p{
   margin-bottom: 25px;

}
.text1{
    line-height: 18px;
    margin-left: 80px;
}

#colorfull{
    font-size: 50px;
    color: #FFA101;
}

.first-imgage{
    width: 70%;
}

.first-link{
    text-decoration: none;
    background-image: linear-gradient(tomato ,orangered);
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;

}

.first-link:hover{
    background-image: linear-gradient(gray,rgb(83, 83, 231));
}

.second{
    margin-top: 20px;
    padding: 40px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
}

.second img{
    padding-bottom: 10px;
}

.third{
    padding: 40px;
}

.one-third{
    text-align: justify;
    width: 40%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 20px 40px gray;
    border-radius: 10px;
}
.one-third{
    text-align: justify;
    font-size: 15px;
    background: white;
}


.cover-image{
    height: 50%;
    width: 100%;
}

.recipe-heading{
    width: 60%;
    margin-left: 260px;
    text-align: center;
    margin-bottom: 50px;

}

.recipe-heading h1{
    font-size: 40px;
}

.socail-pack{
    margin: 100px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
    padding: 10px;
}

.social{
    text-align: center;
    padding: 20px;
    line-height: 5px;
    margin: 0px 20px;
    font-family: 'Pathway Gothic One', sans-serif;
}
footer{
    background: black;
    padding: 20px;
    margin-top: 80px;
    text-align: center;
    line-height: 15px;
    color: blanchedalmond;
    font-size: 15px;
}